In [4]:
import numpy as np
import pandas as pd
import pickle

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [16]:
df_final=pd.read_csv("final.csv")

In [17]:
df_final

        Marca  Modelo  Combustible  Provincia     Cv   Año      Kms  Precio
0          48   11332            0          7   75.0  2023  144.000   6.999
1          48   11316            0          7   80.0  2023  144.000   7.299
2          29    4802            3         52    8.0  2023  100.000   8.990
3          38   20043            8         49   75.0  2022  884.000   9.990
4         109     532            8         32  110.0  2022  120.000  10.499
...       ...     ...          ...        ...    ...   ...      ...     ...
239960     54   14081            0         26  136.0  2019  101.511  20.990
239961    119    4897            8         26  110.0  2021   61.664  19.540
239962      4   17428            0         34  116.0  2022   26.270  31.000
239963    122   14093            8         32  149.0  2021   25.972  25.500
239964      4    4156            8         35  450.0  2018   89.000  59.900

[239965 rows x 8 columns]

In [18]:
df_final.isna().sum()

Marca          0
Modelo         0
Combustible    0
Provincia      0
Cv             0
Año            0
Kms            0
Precio         0
dtype: int64

In [19]:
df_final.columns

Index(['Marca', 'Modelo', 'Combustible', 'Provincia', 'Cv', 'Año', 'Kms',
       'Precio'],
      dtype='object')

In [22]:
df_final.info()
#tener encuenta quue las columnas categóricas aquí ya están modificadas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239965 entries, 0 to 239964
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Marca        239965 non-null  int64
 1   Modelo       239965 non-null  int64
 2   Combustible  239965 non-null  int64
 3   Provincia    239965 non-null  int64
 4   Cv           239965 non-null  float64
 5   Año          239965 non-null  int64
 6   Kms          239965 non-null  float64
 7   Precio       239965 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 14.6 MB

In [ ]:
import matpoltlib.pyplot as plt
import seaborn as sns

In [ ]:
modelos1 = [#LinearRegression(), 
           #KNeighborsRegressor(), 
           #RadiusNeighborsRegressor(), 
           #DecisionTreeRegressor(),
           RandomForestRegressor(), 
           #SVR(), 
           #AdaBoostRegressor(), 
           #GradientBoostingRegressor()
          ]

In [ ]:
%%time
X = train.drop(["Precio"], axis = 1)
y = np.array(train["Precio"]).reshape(-1 , 1)

x_scaler = MinMaxScaler()
X = x_scaler.fit_transform(X)

y_scaler = MinMaxScaler()
y = y_scaler.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

datos_modelos1 = list()

for model in modelos1:
    
    model.fit(X_train, y_train)
    yhat = model.predict(X_test)
    
    y_test_inv = y_scaler.inverse_transform(y_test.reshape(-1, 1))
    yhat_inv = y_scaler.inverse_transform(yhat.reshape(-1, 1))
    
    # Metricas
    mae = mean_absolute_error(y_test_inv, yhat_inv)
    mse = mean_squared_error(y_test_inv, yhat_inv)
    r2 = r2_score(y_test_inv, yhat_inv)
    
    datos_modelos1.append([str(model), model, mae, mse, r2])
    
df_modelo1 = pd.DataFrame(data = datos_modelos1, columns = ["name", "model", "mae", "mse", "r2"])

df_modelo1.sort_values("r2", ascending = False)

In [ ]:
https://danielwtummler-co2-project-app-c2z48t.streamlit.app/