# ANÀLISIS DEL SALARIO MINIMO INTERPROFESIONAL (SMI)

In [4]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import webbrowser
from selenium import webdriver
import requests 

from selenium import webdriver
from selenium.webdriver.common.by import By
import csv
from time import sleep

In [ ]:

all_data=[]
anomaxrango=2022
anominrango=1978
preciominrango=1000
preciomaxrango=50000
rango=400
anomax=0
#Recorremos los años empezando la fecha del mayor al menor de forma inversa del mayor al menor 
for anomin in range(anomaxrango,anominrango,-1):
# definimos el el maximo apartir del año en curso minimo
    anomax = anomin + 1 
# Recorremos los precios de 400 en 400 del precio mínimo al máximo
    for preciomin in range(preciominrango,preciomaxrango, rango):
# Definimos el precio máximo apartir del minimo y el rango
        preciomax = preciomin + rango
        print(f"año{anomax}")
        print(preciomax)
# Este bucle es para recorrer las distintas página
        for i in range(1, 21):
                #print(i)
# En esta URL le metemos los distintos parametros de los bucles anteriores ya que enseña de 400 en 400
                url = f'https://www.autoscout24.es/lst?atype=C&cy=E&damaged_listing=exclude&desc=0&fregfrom={anomin}&fregto={anomax}&page={i}&powertype=kw&pricefrom={preciomin}&priceto={preciomax}&search_id=sgbo79pcq7&sort=standard&source=listpage_pagination&ustate=N%2CU'
                response = requests.get(url)
                soup = BeautifulSoup(response.text, "html.parser")
# Esta paso recoremos la clase para extraer la marca del vehículo 
                marca_elements = soup.find_all(class_="ListItem_title__znV2I ListItem_title_new_design__lYiAv Link_link__pjU1l")
                marcas = [element.find('h2').text for element in marca_elements]
# Si no tenmos marca del vehículo sideja de extraer porque no hay, pues vamos al bucle anterio
                if not marcas: 
                    #print("No marca found for this page, moving to the next iteration.")
                    break;
# extraemos precio 
                precio_elements = soup.find_all('p', attrs={"data-testid": "regular-price"})
                precios = [element.text.replace(",-", "").strip() for element in precio_elements]

                # extraemos ciudad 
                ciudad_elements = soup.find_all('span', class_="SellerInfo_address__txoNV")
                ciudades = [element.text.replace("Contáctanos en: •", "").strip() for element in ciudad_elements]

                # extraemos km, Combustible, Cambio, and anos information
                elementos = soup.find_all('span', class_="VehicleDetailTable_item__koEV4")
                km = [detail.text for detail in elementos if 'km' in detail.text]
                Combustible = [detail.text for detail in elementos if
                               'Gasolina' in detail.text or 'Diésel' in detail.text or 'Híbrido' in detail.text
                               or 'Eléctrico' in detail.text or 'Híbrido Enchufable' in detail.text
                               or 'Etanol' in detail.text or 'Gas licuado (GLP)' in detail.text
                               or 'Gas natural (CNG)' in detail.text or 'Electro/Gasolina' in detail.text
                               or 'Electro/Diésel' in detail.text or 'Otros' in detail.text]
                #Cambio = [detail.text for detail in elementos if 'Manual' in detail.text or
                         # 'Automático' in detail.text or 'Semiautomático' in detail.text]
                anos = [detail.text for detail in elementos if '/' in detail.text and len(detail.text) == 7]

                # Unimos los distintos elementos
                page_data = list(zip(marcas,Combustible,anos, km, ciudades,precios))
                print(page_data)
                all_data.extend(page_data)

with open('myfile.csv', 'w', newline='') as file:
        mywriter = csv.writer(file, delimiter=',')
        mywriter.writerows(all_data)
                      
# Imprimimos los datos
for item in all_data:
    print(item)

In [ ]:
len(all_data)

In [ ]:
from requests_html import HTMLSession
from bs4 import BeautifulSoup

def procesar_url(url):
    response = HTMLSession().get(url)
    content = response.html.html
    soup = BeautifulSoup(content, "html.parser")
    
    car_listings = []
    
    # nos metenos dentro del contenedor donde esta el anuncio
    listing_containers = soup.find_all("div", class_="contenido-anuncio")
    for container in listing_containers:
        car_details = []
        
        #Extraemos la marca
        marca_element = container.find("h2", itemprop="name")
        if marca_element:
            car_brand = marca_element.text.strip()
            car_details.append(car_brand)
        
        # Extraemos los datos de la ul
        ul_element = container.find("ul")
        li_elements = ul_element.find_all("li")
        
        # Extraemos lo datos de li
        for li in li_elements:
            detail = li.get_text().strip()
            car_details.append(detail)
        
        # extraemos los datos de precio y no de precio financiado <p class="precio ">
        precio_financiado = container.find("p", class_="precio")
        if precio_financiado:
            precio_value = precio_financiado.find("span", recursive=False, class_=False).get_text().strip()
            car_details.append(precio_value)
        
        car_listings.append(car_details)
    
    # eliminamos el elemento 5 que es de la cilindrada
    for sublist in car_listings:
        if len(sublist) >= 5:
            sublist.pop(4)
    
    return car_listings
todo=[]
i=0
for i in range(1,5889,1):
    #print(i)
    url = f'https://www.autocasion.com/coches-ocasion?page={i}'
    results = procesar_url(url)
    for result in results:
        #print(result)
        todo.append(result)
len(todo)

In [2]:
todo

[['JEEP Compass 1.6 Mjt Longitude 4x2',
  'Diésel',
  '2019',
  '96.700 km',
  'Lleida',
  '21.900 €'],
 ['BMW X3 xDrive 20dA', 'Diésel', '2020', '46.776 km', 'Madrid', '42.995 €'],
 ['KIA Stonic 1.0 T-GDi MHEV Drive 100',
  'Gasolina',
  '2022',
  '16.600 km',
  'Huesca',
  '19.550 €'],
 ['MINI Countryman Todoterreno  Automático de 5 Puertas',
  'Diésel',
  '2016',
  '30.000 km',
  'Córdoba',
  '27.900 €'],
 ['SEAT Ibiza 1.0 TSI S&S Style 110',
  'Gasolina',
  '2021',
  '54.800 km',
  'Pontevedra',
  '16.400 €'],
 ['MERCEDES-BENZ Clase GLC 4Matic',
  'Diésel',
  '2019',
  '123.150 km',
  '35.900 €'],
 ['VOLKSWAGEN Golf 2.0 TSI GTI Clubsport DSG 221kW',
  'Gasolina',
  '2021',
  '20.000 km',
  'Barcelona',
  '43.990 €'],
 ['PEUGEOT 2008 1.5BlueHDi S&S Allure Pack 110',
  'Diésel',
  '2022',
  '19.000 km',
  'Málaga',
  '25.490 €'],
 ['MERCEDES-BENZ Clase C 200 9G-Tronic',
  'Gasolina',
  '2019',
  '74.865 km',
  'Málaga',
  '30.900 €'],
 ['RENAULT Scénic Grand 1.5dCi Intens 81kW',
  'Diésel',
  '2018',
  '97.713 km',
  'La Coruña',
  '20.490 €'],
 ['PEUGEOT 2008 1.2 PureTech S&S Signature 110',
  'Gasolina',
  '2019',
  '31.271 km',
  'Guipúzcoa',
  '18.400 €'],
 ['MERCEDES-BENZ EQA 250 +',
  'Eléctrico',
  '2023',
  '3.000 km',
  'Valencia',
  '56.400 €'],
 ['AUDI A3 Sportback 30TDI Advanced',
  'Diésel',
  '2021',
  '34.286 km',
  'Valencia',
  '29.900 €'],
 ['VOLKSWAGEN T-Roc 1.0 TSI Advance 81kW',
  'Gasolina',
  '2021',
  '76.073 km',
  'La Coruña',
  '21.990 €'],
 ['SEAT Ateca 1.0 TSI S&S Eco. Business Reference',
  'Gasolina',
  '2017',
  '155.000 km',
  'Badajoz',
  '16.600 €'],
 ['CITROEN C3 1.5BlueHDi S&S Feel Pack 100',
  'Diésel',
  '2021',
  '34.309 km',
  'La Coruña',
  '18.990 €'],
 ['PEUGEOT Rifter 1.5BlueHDi S&S Standard Active NAV+ 130',
  'Diésel',
  '2019',
  '103.000 km',
  'Guipúzcoa',
  '21.900 €'],
 ['DS 7 Crossback DS7 1.5BlueHDi Be Chic',
  'Diésel',
  '2019',
  '36.373 km',
  'Vizcaya',
  '27.900 €'],
 ['CITROEN C5 Aircross PureTech S&S C-Series 130',
  'Gasolina',
  '2020',
  '17.233 km',
  'Vizcaya',
  '23.900 €'],
 ['KIA XCeed 1.6 PHEV eTech Aut.',
  'Híbrido Enchufable',
  '2023',
  '8.000 km',
  'Salamanca',
  '32.000 €'],
 ['MERCEDES-BENZ Clase B 200d',
  'Diésel',
  '2019',
  '68.822 km',
  'La Coruña',
  '27.990 €'],
 ['VOLKSWAGEN Golf 2.0 TSI GTI Performance DSG 230',
  'Gasolina',
  '2015',
  '99.990 km',
  'Huelva',
  '26.800 €'],
 ['CADILLAC Deville Concours',
  'Gasolina',
  '1998',
  '24.600 km',
  'Murcia',
  '8.500 €'],
 ['OPEL Combo Life 1.5TD S/S Edition Plus XL 7pl 100',
  'Diésel',
  '2021',
  '71.340 km',
  'La Coruña',
  '26.350 €'],
 ['KIA Niro 1.6 GDI HYBRID DRIVE 141 5P',
  'Gasolina',
  '2019',
  '62.397 km',
  'Madrid',
  '19.000 €'],
 ['CUPRA Formentor 1.5 TSI 150',
  'Gasolina',
  '2022',
  '25.987 km',
  'Barcelona',
  '29.900 €'],
 ['TOYOTA C-HR 1.8 VVT-I HYBRID ACTIVE AUTO 122 5PT',
  'Híbrido',
  '2022',
  '7.685 km',
  'Madrid',
  '24.900 €'],
 ['CITROEN C4 Cactus 1.5BlueHDi S&S Origins 100',
  'Diésel',
  '2019',
  '84.354 km',
  'La Coruña',
  '18.990 €'],
 ['VOLVO V60 Cross Country 2.0 D4 AWD AUTO',
  'Diésel',
  '2020',
  '20.790 km',
  'Huesca',
  '39.500 €'],
 ['MITSUBISHI Eclipse Cross 1.5 150T SPIRIT 163 5P',
  'Gasolina',
  '2020',
  '74.525 km',
  'Albacete',
  '21.000 €'],
 ['DODGE Caliber 2.4 SRT4',
  'Gasolina',
  '2010',
  '87.000 km',
  'Sevilla',
  '16.499 €'],
 ['SKODA Superb 2.0TDI AdBlue Active DSG 110kW',
  'Diésel',
  '2019',
  '121.000 km',
  'Ciudad Real',
  '20.490 €'],
 ['DODGE Caliber 2.4 SRT4',
  'Gasolina',
  '2010',
  '87.000 km',
  'Sevilla',
  '16.499 €'],
 ['MAZDA CX-30 2.0 SKYACTIV-G 90KW ZENITH BLACK 2WD 5P',
  'Gasolina',
  '2019',
  '50.874 km',
  'Madrid',
  '24.600 €'],
 ['CUPRA Formentor 2.0 TDI 150',
  'Diésel',
  '2022',
  '10.000 km',
  'Barcelona',
  '33.900 €'],
 ['MAZDA Mazda3 3 1.5 SKYACTIV-D 77KW LUXURY 105 5P',
  'Diésel',
  '2017',
  '60.915 km',
  'Albacete',
  '17.500 €'],
 ['RENAULT Scénic 1.5dCi Energy Selection 110',
  'Diésel',
  '2017',
  '107.180 km',
  'Albacete',
  '16.300 €'],
 ['VOLKSWAGEN T-Roc Todoterreno  Manual de 5 Puertas',
  'Gasolina',
  '2021',
  '75.035 km',
  'Valencia',
  '21.995 €'],
 ['SEAT Arona 1.0 TSI 81kW (110CV) FR Plus',
  'Gasolina',
  '2022',
  '3.879 km',
  'Zaragoza',
  '21.500 €'],
 ['RENAULT Kadjar 1.3 TCE 103KW TECHNO EDC 140 5P',
  'Gasolina',
  '2022',
  '18.721 km',
  'Vizcaya',
  '25.600 €'],
 ['VOLKSWAGEN Polo 1.0 TSI R-Line 70kW',
  'Gasolina',
  '2022',
  '22.500 km',
  'Huesca',
  '19.000 €'],
 ['MERCEDES-BENZ Clase C 200 d',
  'Diésel',
  '2018',
  '50.061 km',
  'La Coruña',
  '31.900 €'],
 ['FIAT 500X 1.0 Firefly S&S Sport',
  'Gasolina',
  '2019',
  '28.355 km',
  'La Coruña',
  '19.999 €'],
 ['VOLKSWAGEN T-Roc 1.5 TSI R-Line DSG7',
  'Gasolina',
  '2022',
  '17.659 km',
  'Madrid',
  '32.200 €'],
 ['CITROEN C5 Aircross BlueHDi S&S Feel 130',
  'Diésel',
  '2020',
  '20.551 km',
  'Madrid',
  '24.390 €'],
 ['VOLVO XC90 2.0 T8 RECHARGE R-DESIGN AWD AT 455 5P 7 PLAZAS',
  'Eléctrico',
  '2021',
  '14.044 km',
  'Barcelona',
  '82.900 €'],
 ['SEAT Ateca 1.5 EcoTSI S&S Style',
  'Gasolina',
  '2022',
  '10.000 km',
  'Barcelona',
  '29.900 €'],
 ['CUPRA Formentor 1.5 TSI 150 DSG',
  'Gasolina',
  '2022',
  '25.398 km',
  'Barcelona',
  '30.900 €'],
 ['HYUNDAI Kona EV Tecno 7.2kW 150kW',
  'Eléctrico',
  '2019',
  '45.899 km',
  'Huesca',
  '30.500 €'],
 ['BMW X2 sDrive 18dA',
  'Diésel',
  '2019',
  '54.940 km',
  'Guipúzcoa',
  '30.900 €'],
 ['TOYOTA C-HR 125H Style Plus',
  'Híbrido',
  '2018',
  '46.000 km',
  'Madrid',
  '25.190 €'],
 ['AUDI A4 SEDAN 2.0 TFSI S TRONIC ADVANCED EDITION 190 4P',
  'Gasolina',
  '2018',
  '57.455 km',
  'Murcia',
  '28.900 €'],
 ['AUDI Q3 TODOTERRENO 1.5 35 TFSI ADVANCED 150 5P.',
  'Gasolina',
  '2019',
  '44.100 km',
  'Murcia',
  '33.000 €'],
 ['AUDI Q2 TODOTERRENO 1.5 35 TFSI ADVANCED 150 5P',
  'Gasolina',
  '2022',
  '20 km',
  'Murcia',
  '35.000 €'],
 ['PORSCHE Cayenne 4.9 S Tiptronic',
  'Gasolina',
  '2009',
  '165.000 km',
  'Tenerife',
  '20.500 €'],
 ['AUDI Q2 S LINE 30 TDI  85(116) KW(CV) S TRONIC',
  'Diésel',
  '2021',
  '50.202 km',
  'Murcia',
  '29.000 €'],
 ['AUDI Q2 ADVANCED 30 TDI  85(116) KW(CV) 6 VEL.',
  'Diésel',
  '2022',
  '24.662 km',
  'Murcia',
  '31.000 €'],
 ['LAND-ROVER Discovery Sport 2.0TD4 SE 4x4 Aut. 180',
  'Diésel',
  '2018',
  '80.275 km',
  'Pontevedra',
  '27.900 €'],
 ['NISSAN Qashqai Q+2 1.6dCi S&S Tekna Premium 4x4 17´´',
  'Diésel',
  '2013',
  '182.429 km',
  'Tarragona',
  '9.300 €'],
 ['BMW X5 xDrive45e',
  'Híbrido Enchufable',
  '2020',
  '39.000 km',
  'Madrid',
  '84.999 €'],
 ['TOYOTA RAV-4 RAV4 TODOTERRENO 2.5 VVT-I 160KW FEEL AUTO 218 5P',
  'Híbrido',
  '2019',
  '17.436 km',
  'Murcia',
  '36.300 €'],
 ['TOYOTA C-HR 125H Advance',
  'Híbrido',
  '2023',
  '9.529 km',
  'Madrid',
  '29.995 €'],
 ['MERCEDES-BENZ Clase A 200 d',
  'Diésel',
  '2022',
  '10.897 km',
  'Madrid',
  '35.990 €'],
 ['SEAT Ibiza 1.0 TSI 110CV STYLE PLUS',
  'Gasolina',
  '2022',
  '12.378 km',
  'Murcia',
  '17.800 €'],
 ['FIAT Tipo BERLINA CON PORTON 1.6 MULTIJET LIFE 130 5P',
  'Diésel',
  '2021',
  '44.350 km',
  'Murcia',
  '18.300 €'],
 ['AUDI Q5 TODOTERRENO 2.0 35 TDI S TRONIC ADVANCED 163 5P.',
  'Diésel',
  '2022',
  '29.629 km',
  'Murcia',
  '50.500 €'],
 ['AUDI Q3 ADVANCED 35 TDI  110(150) KW(CV) S TRONIC.',
  'Diésel',
  '2022',
  '10.316 km',
  'Murcia',
  '39.800 €'],
 ['AUDI A3 SPORTBACK DESIGN EDITION 30 TDI  85(116) KW(CV)',
  'Diésel',
  '2019',
  '72.719 km',
  'Murcia',
  '22.900 €'],
 ['MERCEDES-BENZ Clase A 250 e', 'Híbrido', '2022', '18.200 km', '38.900 €'],
 ['LAND-ROVER Discovery Sport 2.0TD4 SE 4x4 150',
  'Diésel',
  '2015',
  '115.000 km',
  'Sevilla',
  '20.900 €'],
 ['FORD C-Max Grand 1.0 Ecob. Auto-S&S Titanium 125',
  'Gasolina',
  '2014',
  '114.000 km',
  'Guipúzcoa',
  '13.700 €'],
 ['FORD Focus 1.6TDCi Edition 115',
  'Diésel',
  '2014',
  '57.135 km',
  'Madrid',
  '11.500 €'],
 ['AUDI Q3 TODOTERRENO 1.4 45 TFSI E S TRONIC ADVANCED 245 5P.',
  'Eléctrico',
  '2022',
  '5.285 km',
  'Murcia',
  '49.000 €'],
 ['AUDI A1 1.0 25 TFSI ADVANCED SPORTBACK 5P',
  'Gasolina',
  '2019',
  '36.208 km',
  'Castellón',
  '19.100 €'],
 ['CITROEN C4 Picasso 1.2 PureTech S&S Live 110',
  'Gasolina',
  '2017',
  '97.580 km',
  'Barcelona',
  '11.900 €'],
 ['PEUGEOT 2008 TODOTERRENO 1.5 BLUEHDI 130 S&S ALLURE AUTO 130 5P.',
  'Diésel',
  '2020',
  '15.894 km',
  'Murcia',
  '24.200 €'],
 ['MINI Mini Cabrio Cooper',
  'Gasolina',
  '2020',
  '23.073 km',
  'Murcia',
  '23.500 €'],
 ['TOYOTA C-HR BERLINA CON PORTON 1.8 VVT-I HYBRID ADVANCE AUTO 122 5P',
  'Híbrido',
  '2022',
  '43.735 km',
  'Murcia',
  '26.450 €'],
 ['MERCEDES-BENZ Clase C 220 d Estate',
  'Diésel',
  '2022',
  '16.864 km',
  'Madrid',
  '49.990 €'],
 ['TOYOTA Proace Verso MONOVOLUMEN 1.5D 90KW LWB SHUTTLE 9STR 120 5P 9 PLAZAS',
  'Diésel',
  '2018',
  '68.009 km',
  'Murcia',
  '28.900 €'],
 ['TOYOTA C-HR BERLINA CON PORTON 1.8 VVT-I HYBRID ADVANCE AUTO 122 5P',
  'Híbrido',
  '2022',
  '43.735 km',
  'Murcia',
  '26.450 €'],
 ['PEUGEOT 2008 TODOTERRENO 1.5 BLUEHDI 130 S&S ALLURE AUTO 130 5P.',
  'Diésel',
  '2020',
  '15.894 km',
  'Murcia',
  '24.200 €'],
 ['AUDI A1 1.0 25 TFSI ADVANCED SPORTBACK 5P',
  'Gasolina',
  '2019',
  '36.208 km',
  'Castellón',
  '19.100 €'],
 ['MINI Mini Cabrio Cooper',
  'Gasolina',
  '2020',
  '23.073 km',
  'Murcia',
  '23.500 €'],
 ['AUDI A7 BERLINA CON PORTON 3.0 50 TDI TIPTRONIC QUATTRO SPORTBA',
  'Diésel',
  '2019',
  '52.520 km',
  'Murcia',
  '55.000 €'],
 ['SEAT Arona 1.0 TSI S&S Style 110',
  'Gasolina',
  '2022',
  '8.795 km',
  'Murcia',
  '19.600 €'],
 ['TOYOTA Corolla 125H Active Tech',
  'Híbrido',
  '2019',
  '122.000 km',
  'Madrid',
  '19.990 €'],
 ['MERCEDES-BENZ Clase C 220 d Estate',
  'Diésel',
  '2022',
  '16.864 km',
  'Madrid',
  '49.990 €'],
 ['TOYOTA Corolla SEDAN 1.8 HYBRID ADVANCE E-CVT 122 4P',
  'Híbrido',
  '2019',
  '71.119 km',
  'Murcia',
  '23.500 €'],
 ['MERCEDES-BENZ Clase CLK 200 K',
  'Gasolina',
  '2007',
  '210.000 km',
  'Albacete',
  '6.800 €'],
 ['PEUGEOT 208 Allure Pack Eléctrico 100kW',
  'Eléctrico',
  '2023',
  '10 km',
  'Madrid',
  '25.400 €'],
 ['AUDI A3 SEDAN 1.0 30 TFSI S TRONIC ADVANCED 110 4P',
  'Gasolina',
  '2022',
  '26.779 km',
  'Murcia',
  '31.000 €'],
 ['AUDI A4 SEDAN 2.0 35 TDI MHEV S TRONIC S LINE 163 4P',
  'Diésel',
  '2023',
  '10 km',
  'Murcia',
  '42.000 €'],
 ['OPEL Astra ST 1.7CDTi Selective',
  'Diésel',
  '2011',
  '180.900 km',
  'Madrid',
  '4.990 €'],
 ['AUDI A3 Sportback 35TDI S line S tronic',
  'Diésel',
  '2022',
  '27.049 km',
  'Lugo',
  '32.900 €'],
 ['TOYOTA Yaris 100H 1.5 Active',
  'Híbrido',
  '2018',
  '59.439 km',
  'Madrid',
  '16.890 €'],
 ['AUDI Q2 DESIGN EDITION 30 TFSI  85(116) KW(CV) 6 VEL.',
  'Gasolina',
  '2019',
  '86.520 km',
  'Murcia',
  '25.000 €'],
 ['AUDI A3 BERLINA CON PORTON 2.0 35 TDI S LINE SPORTBACK 150 5P',
  'Diésel',
  '2022',
  '28.864 km',
  'Murcia',
  '34.500 €'],
 ['TOYOTA Corolla FAMILIAR 1.8 HYBRID ACTIVE TECH E-CVT 122 5P',
  'Híbrido',
  '2019',
  '63.586 km',
  'Murcia',
  '22.400 €'],
 ['HONDA HR-V TODOTERRENO 1.5 I-VTEC COMFORT 130 5P',
  'Gasolina',
  '2018',
  '85.123 km',
  'Murcia',
  '20.800 €'],
 ['OPEL Insignia 2.0CDTI Cosmo 130',
  'Diésel',
  '2010',
  '283.900 km',
  'Madrid',
  '4.790 €'],
 ['PEUGEOT 3008 1.2 PureTech S&S Allure 130',
  'Gasolina',
  '2021',
  '63.538 km',
  'Valencia',
  '24.995 €'],
 ['KIA Picanto 1.0 DPi Concept Pack Confort',
  'Gasolina',
  '2021',
  '59.499 km',
  'La Coruña',
  '12.900 €'],
 ['MERCEDES-BENZ EQB 250',
  'Eléctrico',
  '2023',
  '15 km',
  'Castellón',
  '52.950 €'],
 ['MERCEDES-BENZ Clase GLC 200 4MATIC',
  'Híbrido',
  '2019',
  '97.024 km',
  'Madrid',
  '41.990 €'],
 ['HYUNDAI ix35 2.0CRDI GLS Style I 4x4',
  'Diésel',
  '2011',
  '211.551 km',
  'Cuenca',
  '9.500 €'],
 ['BMW Serie 3 318d Touring',
  'Diésel',
  '2017',
  '78.000 km',
  'Vizcaya',
  '21.800 €'],
 ['NISSAN Qashqai 1.3 DIG-T N-Connecta 4x2 103kW',
  'Gasolina',
  '2019',
  '86.850 km',
  'Tarragona',
  '22.300 €'],
 ['FIAT 500 1.2 Lounge', 'Gasolina', '2017', '84.446 km', 'Málaga', '8.950 €'],
 ['AUDI A1 SPORTBACK ADRENALIN EDITION 25 TFSI  70(95) KW(',
  'Gasolina',
  '2021',
  '38.126 km',
  'Murcia',
  '21.900 €'],
 ['CITROEN C4 Grand Picasso 1.6THP Exclusive',
  'Gasolina',
  '2015',
  '91.558 km',
  'Barcelona',
  '17.900 €'],
 ['RENAULT Mégane 1.3 TCE ZEN 103KW 5P',
  'Gasolina',
  '2019',
  '34.786 km',
  'Madrid',
  '21.190 €'],
 ['FORD Kuga 1.5 EcoB. Auto S&S Trend 4x2 120',
  'Gasolina',
  '2019',
  '67.061 km',
  'Valencia',
  '17.995 €'],
 ['MAZDA CX-5 SKYACTIVE',
  'Diésel',
  '2018',
  '58.988 km',
  'Valencia',
  '27.213 €'],
 ['PEUGEOT 2008 1.6 BlueHDi 55kW Active 5d',
  'Diésel',
  '2018',
  '94.856 km',
  'La Coruña',
  '13.990 €'],
 ['AUDI A3 Sportback 2.0TDI Ambiente 150',
  'Diésel',
  '2013',
  '187.000 km',
  'Málaga',
  '12.999 €'],
 ['OPEL Insignia GS 1.6 CDTI 100KW TD SELEC PRO AUTO WLTP',
  'Diésel',
  '2018',
  '122.555 km',
  'Madrid',
  '14.990 €'],
 ['OPEL Insignia ST 1.6 CDTI 100KW TURBO D INNOV AUT WLTP',
  'Diésel',
  '2019',
  '119.000 km',
  'Madrid',
  '15.890 €'],
 ['TOYOTA Yaris 1.4D-4D Active',
  'Diésel',
  '2011',
  '151.000 km',
  'Barcelona',
  '6.500 €'],
 ['TOYOTA Corolla Touring Sports 125H Active Tech',
  'Híbrido',
  '2021',
  '14.857 km',
  'Valencia',
  '24.749 €'],
 ['FORD Mondeo 2.0 HIBRIDO 137 KW 187 CV TITANIUM HEV',
  'Híbrido',
  '2017',
  '92.000 km',
  'Madrid',
  '16.990 €'],
 ['VOLKSWAGEN Golf 2.0TDI CR BMT Advance 150',
  'Diésel',
  '2015',
  '119.450 km',
  'Girona',
  '16.900 €'],
 ['MERCEDES-BENZ Clase C 220 d Estate',
  'Diésel',
  '2020',
  '66.967 km',
  'Barcelona',
  '39.900 €'],
 ['TOYOTA Corolla Sedán 125H Business Plus',
  'Híbrido',
  '2020',
  '101.000 km',
  'Barcelona',
  '16.900 €'],
 ['KIA Sorento 2.2CRDi Drive 4x2 DCT',
  'Diésel',
  '2022',
  '24.000 km',
  'Málaga',
  '39.999 €'],
 ['AUDI A1 1.4TDI Adrenalin',
  'Diésel',
  '2018',
  '128.000 km',
  'Málaga',
  '15.999 €'],
 ['AUDI A3 Sedán 30TDI S line',
  'Diésel',
  '2022',
  '21 km',
  'Navarra',
  '34.800 €'],
 ['LAND-ROVER Range Rover Evoque 2.0TD4 SE 4WD Aut. 150',
  'Diésel',
  '2019',
  '61.000 km',
  'Asturias',
  '34.900 €'],
 ['VOLKSWAGEN Polo 1.0 TSI Advance DSG 70kW',
  'Gasolina',
  '2019',
  '62.000 km',
  'Málaga',
  '15.999 €'],
 ['HYUNDAI ix35 1.7CRDI Tecno Sky 4x2',
  'Diésel',
  '2013',
  '180.000 km',
  'Málaga',
  '9.999 €'],
 ['FORD Focus 1.0 Ecob. Auto-S&S Edition 125',
  'Gasolina',
  '2014',
  '123.000 km',
  'Barcelona',
  '9.900 €'],
 ['HONDA CR-V 1.6i-DTEC Lifestyle Navi 4x4 160',
  'Diésel',
  '2017',
  '73.668 km',
  'Cantabria',
  '22.990 €'],
 ['BMW Serie 4 M4 Coupé Competition xDrive',
  'Gasolina',
  '2021',
  '13.494 km',
  'Pontevedra',
  '99.995 €'],
 ['VOLKSWAGEN Polo 1.2 TSI Sport',
  'Gasolina',
  '2011',
  '108.390 km',
  'Girona',
  '11.650 €'],
 ['BMW X3 xDrive 20dA', 'Diésel', '2019', '67.000 km', 'Valencia', '39.900 €'],
 ['RENAULT Captur TCe Zen 67kW',
  'Gasolina',
  '2022',
  '17.790 km',
  'Tarragona',
  '18.900 €'],
 ['SEAT León ST 1.6 TDI 85 KW 115 CV ST & SP STYLE',
  'Diésel',
  '2017',
  '117.000 km',
  'Madrid',
  '12.890 €'],
 ['FORD Mondeo 2.0TDCI Titanium PowerShift 150',
  'Diésel',
  '2018',
  '200.000 km',
  'Ciudad Real',
  '13.990 €'],
 ['MERCEDES-BENZ Clase GLC Coupé 250 4Matic Aut.',
  'Gasolina',
  '2018',
  '124.000 km',
  'Vizcaya',
  '39.990 €'],
 ['RENAULT Austral 1.3 TCe Mild Hybrid Techno Esprit Alpine CVT 117kW',
  'Gasolina',
  '2022',
  '10.077 km',
  'Ciudad Real',
  '39.400 €'],
 ['SEAT Arona 1.0 TGI S&S Style 90',
  'Gasolina',
  '2021',
  '29.500 km',
  'Barcelona',
  '15.500 €'],
 ['DACIA Sandero 1.2 Ambiance 75',
  'Gasolina',
  '2014',
  '66.184 km',
  'Girona',
  '8.700 €'],
 ['NISSAN Leaf 40KWH 100% ELECTRICO ACENTA',
  'Eléctrico',
  '2018',
  '67.000 km',
  'Madrid',
  '16.490 €'],
 ['FIAT Tipo 1.6 Multijet II Easy',
  'Diésel',
  '2017',
  '129.000 km',
  'Madrid',
  '9.890 €'],
 ['AUDI A6 Avant 40 TDI Sport S tronic',
  'Diésel',
  '2019',
  '58.165 km',
  'Pontevedra',
  '39.500 €'],
 ['VOLVO XC40 T3 Business Plus',
  'Gasolina',
  '2019',
  '41.000 km',
  'La Rioja',
  '33.500 €'],
 ['MERCEDES-BENZ Clase C Cabrio 220d 9G-Tronic',
  'Diésel',
  '2018',
  '100.000 km',
  'Valencia',
  '36.900 €'],
 ['AUDI A1 Sportback 1.0 TFSI Adrenalin',
  'Gasolina',
  '2019',
  '53.930 km',
  'Sevilla',
  '16.900 €'],
 ['VOLKSWAGEN Golf Alltrack 2.0TDI 4Motion DSG7 135kW',
  'Diésel',
  '2017',
  '129.900 km',
  'León',
  '24.900 €'],
 ['MASERATI Ghibli 2.0 L4 Hybrid-Gasolina (330CV)',
  'Gasolina',
  '2021',
  '19.800 km',
  'Zaragoza',
  '64.900 €'],
 ['FORD Puma 1997 1.0 EcoBoost 125cv ST-Line X Design MHEV',
  'Gasolina',
  '2021',
  '41.773 km',
  'Toledo',
  '22.900 €'],
 ['PEUGEOT 308 1.2 PureTech S&S Tech Edition EAT8 130',
  'Gasolina',
  '2020',
  '30.267 km',
  'Burgos',
  '19.900 €'],
 ['NISSAN Qashqai E-POWER 140 KW (190 CV) Tekna',
  'Híbrido',
  '2022',
  '16.588 km',
  'Madrid',
  '36.290 €'],
 ['FORD Fiesta 1.0 EcoBoost S/S ST Line 140',
  'Gasolina',
  '2019',
  '60.323 km',
  'Toledo',
  '15.900 €'],
 ['FORD Puma 1997 1.0 EcoBoost 155cv ST-Line X MHEV Auto',
  'Gasolina',
  '2022',
  '15.300 km',
  'Toledo',
  '24.500 €'],
 ['HYUNDAI Bayon 1.2 MPI Maxx',
  'Gasolina',
  '2023',
  '2.700 km',
  'Huesca',
  '19.600 €'],
 ['AUDI Q3 35 TFSI S line',
  'Gasolina',
  '2023',
  '16 km',
  'La Coruña',
  '42.900 €'],
 ['OPEL Mokka 1.2T S&S Edition',
  'Gasolina',
  '2023',
  '10 km',
  'Cantabria',
  '23.490 €'],
 ['LAND-ROVER Range Rover Velar 2.0D I4 MHEV S 4WD Aut. 204',
  'Diésel',
  '2021',
  '13.400 km',
  'Ciudad Real',
  '66.900 €'],
 ['DS 4 DS4 1.6 BlueHDi S&S Desire 120',
  'Diésel',
  '2017',
  '142.562 km',
  'Valencia',
  '11.900 €'],
 ['VOLVO XC40 Recharge Single Core Aut.',
  'Eléctrico',
  '2023',
  '1 km',
  'Huesca',
  '46.900 €'],
 ['TOYOTA RAV-4 2.5 hybrid 2WD Luxury',
  'Híbrido',
  '2019',
  '87.655 km',
  'Madrid',
  '34.890 €'],
 ['FIAT 500 500e 3+1 87Kw La Prima',
  'Eléctrico',
  '2021',
  '6.000 km',
  'Las Palmas',
  '27.995 €'],
 ['MERCEDES-BENZ Clase GLC 63 AMG 4Matic+ Speedshift MCT 9G',
  'Gasolina',
  '2020',
  '34.750 km',
  'Barcelona',
  '79.900 €'],
 ['TOYOTA C-HR 125H Advance',
  'Híbrido',
  '2019',
  '88.500 km',
  'Madrid',
  '22.290 €'],
 ['MERCEDES-BENZ Clase CLA Shooting Brake 200d 7G-DCT',
  'Diésel',
  '2018',
  '90.000 km',
  'Madrid',
  '26.450 €'],
 ['PEUGEOT 308 1.2 PureTech S&S Allure Pack 130',
  'Gasolina',
  '2022',
  '21.000 km',
  'Zaragoza',
  '24.900 €'],
 ['TOYOTA C-HR 125H Active',
  'Híbrido',
  '2022',
  '18.215 km',
  'Cádiz',
  '24.990 €'],
 ['BMW X6 M Competition',
  'Gasolina',
  '2023',
  '5.908 km',
  'Madrid',
  '150.000 €'],
 ['AUDI Q2 1.6TDI Design edition 85kW',
  'Diésel',
  '2018',
  '89.000 km',
  'Pontevedra',
  '22.500 €'],
 ['PORSCHE Boxster PDK',
  'Gasolina',
  '2013',
  '65.549 km',
  'Barcelona',
  '52.900 €'],
 ['TOYOTA C-HR 180H Advance',
  'Híbrido',
  '2023',
  '7.000 km',
  'Alicante',
  '28.500 €'],
 ['SEAT León ST 1.6TDI CR S&S Style DSG7 105',
  'Diésel',
  '2014',
  '250.136 km',
  'Madrid',
  '8.700 €'],
 ['MERCEDES-BENZ AMG GT Coupé R',
  'Gasolina',
  '2019',
  '39.000 km',
  'Valencia',
  '154.999 €'],
 ['NISSAN Micra 1.5dCi S&S Moonlight 90',
  'Diésel',
  '2018',
  '99.000 km',
  'Madrid',
  '11.900 €'],
 ['PEUGEOT 308 1.6 BlueHDi Access 100',
  'Diésel',
  '2017',
  '97.898 km',
  'Valencia',
  '13.990 €'],
 ['AUDI R8 5.2 FSI V10 RWS S Tronic',
  'Gasolina',
  '2018',
  '39.000 km',
  'Barcelona',
  '123.990 €'],
 ['MERCEDES-BENZ Clase GLC 200d 4Matic 9G-Tronic',
  'Diésel',
  '2019',
  '65.000 km',
  'Málaga',
  '37.999 €'],
 ['TOYOTA Corolla 2.0 180H FEEL! E-CVT TOURING SPORT',
  'Híbrido',
  '2019',
  '57.439 km',
  'Madrid',
  '25.290 €'],
 ['MASERATI Levante 430 Royale S Aut.',
  'Gasolina',
  '2020',

In [7]:
nombre_archivo = 'coches3.csv'

# Abrir el archivo CSV en modo escritura
with open(nombre_archivo, 'w', newline='') as archivo_csv:
    # Crear un objeto de escritura CSV
    escritor_csv = csv.writer(archivo_csv)
    
    # Escribir los datos en el archivo CSV
    escritor_csv.writerows(todo)

print("Archivo CSV creado:", nombre_archivo)

Archivo CSV creado: coches3.csv

In [49]:
columnas = ['marcas', 'Combustible', 'anos', 'km', 'ciudades', 'precios']

# Crear el DataFrame
df = pd.DataFrame(todo, columns=columnas)

# Imprimir el DataFrame
df

,marcas,Combustible,anos,km,ciudades,precios
0,JEEP Compass 1.6 Mjt Longitude 4x2,Diésel,2019,96.700 km,Lleida,21.900 €
1,BMW X3 xDrive 20dA,Diésel,2020,46.776 km,Madrid,42.995 €
2,KIA Stonic 1.0 T-GDi MHEV Drive 100,Gasolina,2022,16.600 km,Huesca,19.550 €
3,MINI Countryman Todoterreno Automático de 5 P...,Diésel,2016,30.000 km,Córdoba,27.900 €
4,SEAT Ibiza 1.0 TSI S&S Style 110,Gasolina,2021,54.800 km,Pontevedra,16.400 €
...,...,...,...,...,...,...
9995,JEEP Renegade 1.3 G 110KW NIGHT EAGLE FWD DDCT 5P,Gasolina,2022,11.916 km,Barcelona,31.850 €
9996,AUDI A3 2.0 30 TDI S TRONIC SPORTBACK 5P,Diésel,2022,6.554 km,Barcelona,27.800 €
9997,FORD Puma 1997 1.0 EcoBoost 125cv ST-Line MHEV...,Gasolina,2021,24.095 km,Valencia,23.900 €
9998,VOLKSWAGEN Taigo 1.0 TSI R-Line 81kW,Gasolina,2023,8.000 km,Alicante,25.500 €
9999,FORD Kuga 1.5 EcoBoost Titanium FWD 120,Gasolina,2021,60.886 km,Valencia,21.900 €

In [50]:
df['año'] = df['anos']

In [51]:
df = df.drop(columns=['anos'])

In [52]:
df['kms'] = df['km'].str.split().str[0]

In [53]:
df = df.drop(columns=['km'])

In [54]:
df['precio'] = df['precios'].str.replace(' €', '')

In [55]:
df = df.drop(columns=['precios'])

In [56]:
df['ciudad'] = df['ciudades']

In [57]:
df = df.drop(columns=['ciudades'])

In [58]:
df['marca'] = df['marcas'].str.split().str[0]

In [59]:
df['modelo'] = df['marcas'].str.split(n=1).str[1]

In [60]:
df = df.drop(columns=['marcas'])

In [64]:
df

,Combustible,año,kms,precio,ciudad,marca,modelo
0,Diésel,2019,96.700,21.900,Lleida,JEEP,Compass 1.6 Mjt Longitude 4x2
1,Diésel,2020,46.776,42.995,Madrid,BMW,X3 xDrive 20dA
2,Gasolina,2022,16.600,19.550,Huesca,KIA,Stonic 1.0 T-GDi MHEV Drive 100
3,Diésel,2016,30.000,27.900,Córdoba,MINI,Countryman Todoterreno Automático de 5 Puertas
4,Gasolina,2021,54.800,16.400,Pontevedra,SEAT,Ibiza 1.0 TSI S&S Style 110
...,...,...,...,...,...,...,...
9995,Gasolina,2022,11.916,31.850,Barcelona,JEEP,Renegade 1.3 G 110KW NIGHT EAGLE FWD DDCT 5P
9996,Diésel,2022,6.554,27.800,Barcelona,AUDI,A3 2.0 30 TDI S TRONIC SPORTBACK 5P
9997,Gasolina,2021,24.095,23.900,Valencia,FORD,Puma 1997 1.0 EcoBoost 125cv ST-Line MHEV Auto
9998,Gasolina,2023,8.000,25.500,Alicante,VOLKSWAGEN,Taigo 1.0 TSI R-Line 81kW
9999,Gasolina,2021,60.886,21.900,Valencia,FORD,Kuga 1.5 EcoBoost Titanium FWD 120

In [71]:
df = df.copy()

# Eliminar las columnas "ciudad" y "modelo" de la copia
columnas_a_eliminar = ["ciudad", "modelo"]
df = df.drop(columns=columnas_a_eliminar)

In [72]:
from sklearn.preprocessing import LabelEncoder

def convertir_categoricas_a_numericas(df):
    df_1 = df.copy()  # Crear una copia del DataFrame para no modificar el original
    
    # Obtener las columnas categóricas
    columnas_categoricas = df_1.select_dtypes(include=['object']).columns.tolist()
    
    # Aplicar LabelEncoder a las columnas categóricas
    label_encoder = LabelEncoder()
    for columna in columnas_categoricas:
        df_1[columna] = label_encoder.fit_transform(df_1[columna])
    
    return df_1

In [73]:
df = convertir_categoricas_a_numericas(df)

In [74]:
df

      Combustible   año     kms  precio  marca
0               0  2019  96.700  21.900     28
1               0  2020  46.776  42.995      7
2               3  2022  16.600  19.550     30
3               0  2016  30.000  27.900     44
4               3  2021  54.800  16.400     55
...           ...   ...     ...     ...    ...
9995            3  2022  11.916  31.850     28
9996            0  2022   6.554  27.800      5
9997            3  2021  24.095  23.900     21
9998            3  2023   8.000  25.500     65
9999            3  2021  60.886  21.900     21

[10000 rows x 5 columns]

In [76]:
nombre_archivo = 'coches_4.csv'

# Crear el archivo CSV a partir del DataFrame
df.to_csv(nombre_archivo, index=False)

In [77]:
test_data = pd.read_csv(r"coches_4.csv")

test_df = test_data.copy()

# Definimos la variabel Target.
TARGET = "precio"

In [78]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Combustible  10000 non-null  int64
 1   año          10000 non-null  int64
 2   kms          10000 non-null  float64
 3   precio       9928 non-null   float64
 4   marca        10000 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 390.8 KB